<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Ghost Tour</title>

<!-- Bootstrap core CSS -->
<link href="stylesheets/bootstrap_detail.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="stylesheets/cover_detail.css" rel="stylesheet">
<script src="/javascripts/libs/require.js" data-main="/javascripts/require.config.js"></script>

</head>

<body>

<div class="site-wrapper">

<div class="site-wrapper-inner">

<div class="cover-container">

<div class="masthead clearfix">
<div class="inner">
<h3 class="masthead-brand">Cover</h3>
<nav>
<ul class="nav masthead-nav">
<li class="active"><a href="#">Home</a></li>
<li><a href="#">Features</a></li>
<li><a href="#">Contact</a></li>
</ul>
</nav>
</div>
</div>
</div>
<div>
<div class="inner cover">
<h1 id="eventName" class="cover-heading">Ghost Tour</h1>
<div class="col-md-12 col-lg-offset-2 col-lg-10">
<div class="col-sm-3">
<table class="table prices">
<tbody>
<tr style="text-align:center;">

<span class="fraction"><sup id=peoplePresent>5</sup>⁄<sub id"peopleLeft">9</sub></span>
</tr>
<tr>
<td id="expiry">3</td>
<td>days to go
</td>
</tr>

<tr>
<td id="originalPrice">$100</td>
<td>original price
<br>per person</td>
</tr>
<tr>
<td id="youPay">$80</td>
<td>you pay</td>
</tr>
<tr>
<td id="discountPercentage">20%</td>
<td>savings</td>
</tr>

</tbody>
</table>
<a href="#" class="btn btn-lg btn-success">Join</a><a style="margin:17px;" href="#" class="btn btn-lg btn-primary">Share</a>
</div>
<div class="col-sm-9 details">
<div class="col-sm-12" id="img" style="background-image: url('https://s3.amazonaws.com/Ocoos_Sp_Content/2915/companyImages/6_ghost_tours-ab30d9f1a71901878d2449cd6dffacec.jpg');">
</div>
<div class="col-sm-3 heavyText">
| Location
</div>
<div id="location" class="col-sm-9 col-xs-offset-1 col-lg-offset-0 col-sm-offset-0">
| Edinburgh
</div>




<div class="col-sm-3 heavyText">Date</div>
<div id="date" class="col-sm-9 col-xs-offset-1 col-lg-offset-0 col-sm-offset-0">
| 1/10
</div>


<div class="col-sm-3 heavyText">Time</div>
<div id="time" class="col-sm-9 col-xs-offset-1 col-lg-offset-0 col-sm-offset-0">
| 1pm-2pm
</div>
<tr>

<div class="col-sm-3 heavyText">Description</div>
<div id="description" class="col-sm-9 col-xs-offset-1 col-lg-offset-0 col-sm-offset-0">
| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</div>

</div>
<br>
<div class="mastfoot">
<div class="inner">
<p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
</div>
</div>

</div>

</div>

</div>

<!-- Bootstrap core JavaScript================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
|window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
</script>
//<script src="../../dist/js/bootstrap.min.js"></script>
</body>

</html>