extends layout

block content
  h1= title
  p Welcome to Make it Social! :)

  <form action="#">
  <h3>Fill the form</h3>
  <br> Event:
  <select name="event">
  <option value="event"></option>
  </select>
  <br> Date:
  <select name="date">
  <option value="date"></option>
  </select>
  <br> Time:
  <select name="time">
  <option value="time"></option>
  </select>
  <br> Discount:
  <input type="value" name="discount">
  <br> Minimal number of people:
  <input type="value" name="discount">
  <br> .
  <br> .
  <br> .
  <br> .
  <br>
  Make it Social (login or registration).
  <br> .
  <br> .
  <br>

  <br>
  <input type="submit" value="Challenge">
  </form>