extends layout

block content
    <div class="container">
    <div class="header clearfix">
    <nav>
    <ul class="nav nav-pills pull-right">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">About</a></li>
    <li role="presentation"><a href="#">Contact</a></li>
    </ul>
    </nav>
    <h3 class="text-muted">Get a Deal</h3>
    </div>
    <div class="jumbotron">
    <h1>Get a Discount</h1>
    <form class="form-horizontal">
    <fieldset>
    <legend>Set yourself a target, achieve it and get a great discount!</legend>
    <div class="form-group">
    <label for="select" class="col-lg-2 control-label">Event</label>
    <div class="col-lg-10">
    <select id="event" class="form-control">
    <option selected value="default">Select Event</option>
    </select>
    </div>
    </div>
    <br>
    <div class="form-group">
    <label for="select" class="col-lg-2 control-label">Date</label>
    <div class="col-lg-10">
    <select id="date" class="form-control">
    <option selected value="default">Select Date</option>
    </select>
    </div>
    </div>
    <br>
    <div class="form-group">
    <label for="select" class="col-lg-2 control-label">Time</label>
    <div class="col-lg-10">
    <select id="time" class="form-control">
    <option selected value="default">Select Time</option>
    </select>
    </div>
    </div>
    <br>
    <div class="form-group">
    <label for="select" class="col-lg-2 control-label">Discount</label>
    <div class="col-lg-2">
    <input type="text" class="form-control" id="discount" placeholder="" disabled>
    </div>
    <label for="minppl" class="col-lg-6 control-label">Minimum people</label>
    <div class="col-lg-2">
    <input type="text" class="form-control" id="minppl" placeholder="" disabled>
    </div>
        
    <div class="col-lg-2">
    
    </div>
    
    <div class="col-lg-10">
    <p style="font-size: 14px; margin-top:10px;">Challenge must be completed <span id="expiry">x</span> days before the event.</p>
    </div>
    </div>
    <br>
    <legend>Make it Social login</legend>
    <div class="form-group">
    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    </div>
    <div class="form-group">
    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
    <div class="col-lg-10">
    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    </div>
    <div class="form-group">
    <center>
    <div class="">
    <button id="challenge" type="submit" class="btn btn-primary">Challenge</button>
    </div>
    </center>
    </div>
    </fieldset>
    </form>
    </div>
    <div class="row marketing">
    <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
    <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
    </div>
    <footer class="footer">
    <p>&copy; Deal with it gmbH</p>
    </footer>
    </div>
