extends layout

block content
    h1= title
    p Welcome to Make it Social! :)

    script(id="event_template", type="text/x-handlebars")
        <select class="event">{{name}}</select>

    <form id="create_event" action="#">
    <h3>Fill the form</h3>
    <br> Event:
    <select id="event" name="event">
    </select>
    <br> Date:
    <select id="date" name="date">

    </select>
    <br> Time:
    <select id="time" name="time">

    </select>
    <br> Discount:
    <input id="discount" type="value" name="discount">
    <br> Minimal number of people:
    <input id="number" type="value" name="discount">
    <br> .
    <br> .
    <br> .
    <br> .
    <br>
    | Make it Social (login or registration).
    <br> .
    <br> .
    <br>

    <br>
    <input type="submit" value="Challenge">
    </form>