doctype html
html
    head
        <meta charset="utf-8">
        <!-- Bootstrap core CSS -->
        <link href="stylesheets/bootstrap.css" rel="stylesheet" media="screen">
        <!-- Custom styles for this template -->
        <link href="stylesheets/custom.css" rel="stylesheet">
        //<script src="javascripts/bootstrap.js"></script>
        link(rel='stylesheet', href='/stylesheets/style.css')
        <script src="/javascripts/libs/require.js" data-main="/javascripts/require.config.js"></script>
    body

    <div class="container">
    <div class="header clearfix">
    <nav>
    <ul class="nav nav-pills pull-right">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="events">Challenges</a></li>
    <li role="presentation"><a href="#">Contact</a></li>
    </ul>
    </nav>
    <h3 class="gettogether">Get Together</h3>
    </div>
    <div class="jumbotron">
    <h1>Create a Challenge</h1>
    <form class="form-horizontal">
    <fieldset>
    <legend>Set yourself a target, achieve it and get a great discount!</legend>
    <div class="form-group">
    <label for="select" class="col-lg-2 control-label">Event</label>
    <div class="col-lg-10">
    <select id="event" class="form-control">
    <option selected value="default">Select Event</option>
    </select>
    </div>
    </div>
    <br>
    <div class="form-group">
    <label for="select" class="col-lg-2 control-label">Date</label>
    <div class="col-lg-10">
    <select id="date" class="form-control">
    <option selected value="default">Select Date</option>
    </select>
    </div>
    </div>
    <br>
    <div class="form-group">
    <label for="select" class="col-lg-2 control-label">Time</label>
    <div class="col-lg-10">
    <select id="time" class="form-control">
    <option selected value="default">Select Time</option>
    </select>
    </div>
    </div>
    <br>
    <div class="form-group">
    <label for="select" class="col-lg-2 control-label">Discount</label>
    <div class="col-lg-2">
    <input type="text" class="form-control" id="discount" placeholder="" disabled>
    </div>
    <label for="minppl" class="col-lg-6 control-label">Minimum people</label>
    <div class="col-lg-2">
    <input type="text" class="form-control" id="minppl" placeholder="" disabled>
    </div>

    <div class="col-lg-2">

    </div>

    <div class="col-lg-10">
    <p style="font-size: 14px; margin-top:10px;">Challenge must be completed <span id="expiry">x</span> days before the event.</p>
    </div>
    </div>
    <br>
    
    <div class="form-group">
    <center>
    <div class="">
    <button id="challenge" type="submit" class="btn btn-primary">Challenge</button>
    </div>
    </center>
    </div>
    </fieldset>
    </form>
    </div>
    <footer class="footer">
    <p>&copy; Get Together</p>
    </footer>
    </div>
