extends layout

block content
  h1= title
  p Welcome to #{title}

  <p>Date of event is <span id="date">03.10.2015</span></p>
  <p>Time of event is <span id="time">18:00</span></p>
  <p>Discount is <span id="discount">20%</span></p>