doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="/javascripts/libs/require.js" data-main="/javascripts/require.config.js"></script>
  body
    block content
